{% extends 'IbrowsSyliusShopBundle::baselayout.html.twig' %}

{% set form = sylius_cart_form() %}

{% block content %}
<div class="page-header">
<h1>
  <a href="{{ path('product_list') }}"> Product list</a> Product details page
</h1>
</div>
<div class="row product-container well">
    <div class="span3 photo-container">

    </div>
    <div class="span5">

        <h3>{{ product.name }}</h3>
        <p>
            {{ product.description }}
        </p>
    </div>
    <div class="span4">

    </div>
</div>
<form  class="ajax clearfix"  data-load-function="cart.refresh" action="{{ path('cart_item_add', {'id': product.id}) }}" method="post" >


    <div class="pull-left">

    </div>
    <div class="pull-right">
    {% if not   product.inStock %}
        <br />
        <span class="label label-important center-text out-of-stock">out of stock</span>
    {% else %}
        {{ form_row(cartform.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
        {{ form_widget(cartform._token) }}
        <input type="submit" class="btn btn-success btn-large span12" value="add to cart">
    {% endif %}
    </div>
</form>

<hr />
<div class="well">
    <div id="fos_comment_thread"></div>
</div>
<hr />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': product.commentThreadId} %}
{% endblock %}
